body {
    background: url('https://blog.prezi.com/wp-content/uploads/2019/03/jason-leung-479251-unsplash-1024x683.jpg');
    background-size: cover;
}

.header {
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    color: #ffffff;
}

h2 {
    font-size: .75em;
    text-align: center;
    color: white;
}

div {
    width: 225px;
    height: 400px;
    background-image: url(https://estelle.github.io/10/files/sprite.png);
    animation: gangham 4s steps(23, start) infinite,
        movearound 12s steps(69, end) infinite alternate 44ms;
    animation-direction: normal, alternate;
}

@keyframes gangham {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -5175px 0
    }
}

@keyframes movearound {
    0% {
        transform: translatex(0)
    }

    100% {
        transform: translatex(600px);
    }
}